body {
  background-color: orchid;
  border: 1cm solid maroon;
  border-bottom: 5cm solid magenta;
}
header {
  background-color: aquamarine;
}
h2 {
  color: blueviolet;
  background-color: navajowhite;
  text-align: center;
}
h3 {
  background-color: rgb(161, 121, 200);
  text-align: center;
}
.img-transport {
  width: 500px;
  padding-left: 425px;
}
